params {
    project_dir = "${projectDir}/../.."
}

process {
    executor = 'local'
}

report.enabled = true
report.file = "${projectDir}/../../outputs/reports/nextflow_report.html"

timeline.enabled = true
timeline.file = "${projectDir}/../../outputs/reports/nextflow_timeline.html"
params {
    project_dir = "${projectDir}/../.."
}

process {
    executor = 'local'
}

report.enabled = true
report.overwrite = true
report.file = "${projectDir}/../../outputs/reports/nextflow_report.html"

timeline.enabled = true
timeline.overwrite = true
timeline.file = "${projectDir}/../../outputs/reports/nextflow_timeline.html"